body {
    background-image: url("/img/bg-image.jpg");
    background-attachment: fixed;
    background-size: cover;

}

.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#main, #skills, #contact {
    padding: 1em;
}

.icon{
    height: 6em;
    width: 6em;
    margin: 1em;
}

a{
    color: rgb(29, 28, 52);
    text-decoration:none;
    font-weight: bold;
}

.img-proyect {
    height: 8em;
    width: 15em;
    margin: 1em;
}